* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Nav Bar */

.nav_bar {
    background-color: green;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
}

.nav_list {
    display: flex;   
    list-style: none; 
}

.nav_link{
    padding: 1rem;
}

.nav_link a {
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.nav_link:hover {
    background-color: greenyellow;
}

/* Hero Image Main Page */
