* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Nav Bar */

.nav_bar {
    background-color: green;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
}

.nav_list {
    display: flex;   
    list-style: none; 
}

.nav_link{
    padding: 1rem;
}

.nav_link a {
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.nav_link:hover {
    background-color: greenyellow;
}

/* Hero Image Main Page */

.hero_slide1 {
    height: 30em;
    width: 100%;
}

.hero_txt {
    position: absolute;
    margin-top: 8em;
    margin-left: 12em;
    color: white;
    height: 10em;
    width: 40em;
    background-color: orange;
}

.hero_head_txt {
    font-size: 3em;
}

.hero_par_txt {
    font-size: 1.5em;
    padding-left: 4em;
}