* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Nav Bar */

.nav_bar {
    background-color: green;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
}

.nav_list {
    display: flex;   
    list-style: none; 
}

.nav_link{
    padding: 1rem;
}

.nav_link a {
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.nav_link:hover {
    background-color: greenyellow;
}

/* Hero Image Main Page */

.img_carousel {
    margin-bottom: -4px;
}

.hero_slide1 {
    margin: 0;
    padding: 0;
    height: 30em;
    width: 100%;
}

.hero_txt {
    position: absolute;
    margin-top: 8em;
    margin-left: 12em;
    color: white;
    height: 10em;
    width: 40em;
    background-color: orange;
    
}

.hero_head_txt {
    font-size: 3em;
}

.hero_par_txt {
    font-size: 1.5em;
    padding-left: 4em;
}

footer {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
}

/* Footer */

.address_head {
    text-align: center;
}

.address_txt {
    text-align: center;
}

.phone_head {
    text-align: center;
}

.socials {
    text-align: center;
}

.social_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

a{
    padding: 0 1.25rem;
    font-size: x-large;
    color: black;
}

/*Our Projects Page */

.project_page_head {
    height: 20rem;
    width: 100%;
}

.project_cards {
    margin: 3rem;
    border: 2px solid black;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.project_cards > h1 {
    color: red;
    padding: 3rem;
}